<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>            <string>Gootd</string>
    <key>CFBundleDisplayName</key>     <string>Gootd</string>
    <key>CFBundleIdentifier</key>      <string>dev.gootd.Gootd</string>
    <key>CFBundleExecutable</key>      <string>Gootd</string>
    <key>CFBundleIconFile</key>        <string>Gootd</string>
    <key>CFBundlePackageType</key>     <string>APPL</string>
    <key>CFBundleShortVersionString</key> <string>1.0</string>
    <key>CFBundleVersion</key>         <string>1</string>
    <key>LSMinimumSystemVersion</key>  <string>13.0</string>
    <key>NSHighResolutionCapable</key> <true/>
    <key>NSHumanReadableCopyright</key><string>Gootd</string>
    <key>ATSApplicationFontsPath</key> <string>.</string>
</dict>
</plist>
